
<h3>Adaptors</h3>

<p>Lawnchair has adaptors that let you use it with every sort of clientside datastore.</p>

<pre class="prettyprint" style="color:#fff">
adaptor ........ device browsers supported ... desktop browsers supported ....
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
webkitsqlite ... iOS, Android 2.x, webOS ..... Safari, Chrome ................
gearssqlite .... Android 1.5, 1.7 ............ Whenever gears is present .....
domStorage ..... iOS, Android 2.x, webOS ..... IE, Firefox, Safari, Chrome ...
cookie ......... Presumably all of em ........ Presumably all of em ..........
userdata ....... IE .......................... IE ............................
air-async ...... Adobe Air ................... Adobe Air .....................
air ............ Adobe Air ................... Adobe Air .....................
blackberry ..... BlackBerry 4.7 and higher ... N/A ...........................
couchdb ........ All ......................... All ........................... 
</pre>

<p>If it isn't here yet, don't worry man, its totally easy to implement your own!</p>
